BusproviderWebService/BusProviderApplication/Connected Services/BusProviderServiceReference/ProvidersWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetProviderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProviderDetailsResult" type="tns:ArrayOfGetProviderDetails_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGetProviderDetails_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GetProviderDetails_Result" nillable="true" type="tns:GetProviderDetails_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GetProviderDetails_Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProviderId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertIntoProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoProviderResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertBusDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="busName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="capacity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="providerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertBusDetailsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderDetails" />
  </wsdl:message>
  <wsdl:message name="GetProviderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoProviderSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoProvider" />
  </wsdl:message>
  <wsdl:message name="InsertIntoProviderSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoProviderResponse" />
  </wsdl:message>
  <wsdl:message name="InsertBusDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertBusDetails" />
  </wsdl:message>
  <wsdl:message name="InsertBusDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertBusDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ProvidersWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderDetails">
      <wsdl:input message="tns:GetProviderDetailsSoapIn" />
      <wsdl:output message="tns:GetProviderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoProvider">
      <wsdl:input message="tns:InsertIntoProviderSoapIn" />
      <wsdl:output message="tns:InsertIntoProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertBusDetails">
      <wsdl:input message="tns:InsertBusDetailsSoapIn" />
      <wsdl:output message="tns:InsertBusDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvidersWebServiceSoap" type="tns:ProvidersWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderDetails">
      <soap:operation soapAction="http://tempuri.org/GetProviderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoProvider">
      <soap:operation soapAction="http://tempuri.org/InsertIntoProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBusDetails">
      <soap:operation soapAction="http://tempuri.org/InsertBusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProvidersWebServiceSoap12" type="tns:ProvidersWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderDetails">
      <soap12:operation soapAction="http://tempuri.org/GetProviderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoProvider">
      <soap12:operation soapAction="http://tempuri.org/InsertIntoProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBusDetails">
      <soap12:operation soapAction="http://tempuri.org/InsertBusDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvidersWebService">
    <wsdl:port name="ProvidersWebServiceSoap" binding="tns:ProvidersWebServiceSoap">
      <soap:address location="http://localhost:58638/ProvidersWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProvidersWebServiceSoap12" binding="tns:ProvidersWebServiceSoap12">
      <soap12:address location="http://localhost:58638/ProvidersWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>